<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @copy.code %>
</p>

<p>
  <strong>Place:</strong>
  <%= @copy.place %>
</p>

<%= link_to 'Edit', edit_copy_path(@copy) %> |
<%= link_to 'Back', copies_path %>
